header{
    /* position: absolute; */
    position: fixed;
    top: 0;
    left: 0;
    background-color:  rgb(180, 178, 117);
    width: 94.3%;
    height: 8vh;
    color: white;
    padding: 0 2rem;
    z-index: 20;
    
 }
 nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    /* text-decoration: solid; */
 }
 
 .toggle{
    display: none;
 }
 /* .ouvrir{
    display: block;
 }
 .fermer{
    display: none;
 } */
 .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 600px;
 }
 .menu li a{
    color: aliceblue;
    text-decoration: none;
 }
 .btn{
    /* border: 0;
    background: pink;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px; */
    padding: 10px 20px;
    background-color: orangered;
    color: aliceblue;
    border: none;
    border-radius: 10px;

    cursor: pointer;
 }
 
 
 
 header::after{
    content: "";
    height: 150px;
    width: 150px;
    /* background: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.94), transparent); */
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 20;
    transition: 0.20;
    opacity: 0;
    /* left: var(---x);
    top: var(---y); */
 }
 header:hover::after{
    opacity: 1;
 }
 /* .hero */
 @media screen and (max-width : 900px){
    header{
       width: 100%;
    }
    nav{
       justify-content: space-around;
    }
     .toggle{
         display: block;
         font-size: 2rem;
         cursor: pointer;
         position: relative;
         z-index: 20;
         float: left;
         /* background-color: #94d82d; */
     }
     .logo{
         position: relative;
         z-index: 26;
     }
     .ouvrir{
        
         display: block;
       /* display: none; */
     }
     .fermer{
        display: none;
        color: aqua;
        
     }
    .open .ouvrir{
         display: none;
         
     }
     .open .fermer{
        display: block;
        
    }
     .menu{
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100vh;
         background: rgb(180, 174, 117);
         /* font-style: ; */
         flex-direction: column;
         /* color: black; */
         /* padding: 2rem; */
        justify-content: space-around;
        transform: translate(-100%);
        transition: 1s;
     }
     .open .menu{
         transform: translate(0);
     }
    /* .open.fermer{
        display: block;
    } */
 }
 .sect-principale{
     /* position: relative;
     z-index: -1; */
 }
 /* section1 */
 .card{
     /* width: 100%;
     background-color: blueviolet;
     height: 500px;
     
     display: flex;
     justify-content: space-around;
     flex-flow: row;
     flex-direction: row; */
     width: 100%;
     height: 600px;
     background: rgb(240, 245, 245);
     
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     flex-flow: wrap;
     z-index: 1;
     padding-top: 90px;
 }
 .order1{
     /* background-color: aliceblue;
     width: 100%;
     box-sizing: border-box;
     margin: 20px; */
     width: 40%;
    height: 400px;
    /* background: yellow; */
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    
 }
 .order2{
    width: 40%;
    height: 400px;
    /* background: yellow; */
    margin: 20px;
    box-sizing: border-box;
    font-size: 50px;
    text-align: center;
    padding-top: 5%;
    
     /* margin-top: 100px; */
     /* margin-right: 10%; */
     /* width: 90%;
       */
     /* padding-left: 1%;   */
     /* padding-right: 10%; */
     /* background-color: aqua;
     box-sizing: border-box;
     margin: 20px; */
     /* 
     display: block;
     flex-direction: row;
     flex-flow: row;
     justify-content: space-around; */
 }
 .order3{
     font-size: 30px;
 }
 .order4{
     font-size: 20px;
 }
 
 .a{
    position: absolute;
    width: 150px;
    height: 200px;
    z-index: 1;
    right: 25%;
}
.b{
    position: absolute;
   width: 150px;
   height: 200px;
   z-index: 2;
   right: 15%;
   margin-top: 5%;
   /* margin-bottom: 10%; */
}
.c{
   width: 150px;
   height: 200px;
   /* float: right; */
   /* margin-right: 20%; */
   z-index: 3;
  /* margin-left: %; */
  margin-top: 9%;
   margin-right: 5%;
}
.button{
    width: 200px;
    border-radius: 10%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 20px;
    font-size: 20px;
    border: none;
}
.button:hover{
    background-color: rgb(0, 255, 200);
   
}
.button1{
    background-color: orange;
    border: none;
    width: 200px;
    border-radius: 10%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-right: 20px;
    font-size: 20px;
}
.button1:hover{
    background-color: rgb(0, 157, 255);
   
}
.but{
    /* background-color: aqua; */
    text-align: center;
}
/* SECTION2 */
.container{
    display: flex;
    justify-content: space-around;
}
.order5{
    display: flex;
     flex-direction: row;
     justify-content: space-around;
     flex-flow: wrap;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,;
}
/* SECTION3 */
.zz{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-right: 30%;
    /* width: 30%; */
    /* height: 1000px; */
}
/* section4 */
.phone_1{
    /* width: 30%; */
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap; */
}
.PP{
    font-size: 20px;
}
.chifre{
    font-size: 90px;
    color: rgb(32, 140, 234);
}
.arriere_plan_phone{
    /* border-radius: 50%;
    
    width: 100px;
    height: 100px; */
}
.phone_2{
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap; */
    /* width: 30%; */
}
.phone_3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-left: 20%;
    text-align: center;
    margin-right: 20%;
    /* width: 30%; */
}
.phone{
    /* width: 90px;
    height: 200px; */
}
.kk{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    background-color: aquamarine;
 }
.ord{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    
}
/* section5 */
.images{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;
    margin-left: 10%;
    margin-right: 10%;
    /* background-color: aliceblue; */
}
.Se{
    text-align: center;
    font-size: 30px;
}
.images img{
    width: 150px;
    border-radius: 50%;
}
.img{
    width: 20%;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap; */
    box-shadow: 5px 5px rgb(132, 125, 125);
}
.imgg{
    
}

/* section6 */
.section-6{
    display: flex;
     /* flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap; 
    background-color: aqua; */
}

.src{
     display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap; 
    background-color: rgb(66, 54, 39);
    width: 50%;
    /* width: 50%; */
}
.src img{
    width: 200px;
    height: 100px;
}
.pro{
    display: flex;
    background-color: rgb(30, 80, 80);
    width: 50%;
    /* flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;  */
}
.pro img{
    width: 50px;
    border-radius: 60%;
    height: 40px;
}
.pr{
    width: 50%;
    background-color: goldenrod;
    margin-left: 10px;
    /* display: flex; */
    /* flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;  */
}
.HE{
    background-color: antiquewhite;
}
.container{
    width: 100%;
    height: auto;
    
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    text-align: center;
    
}

.box{
    width: 20%;
    /* height: 6000px; */
    /* background: yellow; */
    /* margin-left: 4px; */
    border: 3px dotted black;
    padding-bottom: 30px;
    box-shadow: 10px 5px rgb(52, 52, 4);
    /* box-sizing: border-box; */
    /* font-size: 50px; */
    display: flex;
    /* flex-direction: row; */
    /* justify-content: space-around; */
    flex-flow: wrap; 
    
}
.star{
    background-color: bisque;
    /* text-align: center; */
    margin-left: 20px;
    height: 30px;
    border: none;
}





.contain{
    width: 100%;
    height: auto;
    /* background: rgb(102, 0, 255); */
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    
}
.bo{
    width: 20%;
    height: 150px;
    /* background: yellow; */
    margin: 10px;
    /* box-sizing: border-box; */
    
    font-size: 15px;
    
}
.prix{
    text-align: center;
    font-size: 20px;
}




.contai{
    display: flex;
            /* justify-content: space-between; */
            margin-left: 5%;
            margin-right: 5%;
           
            box-shadow: 10px 10px 10px gray;
    
    /* width: 100%; */
    height: 500px;
    background: rgb(243, 236, 242);
    border-radius: 20px;
      
    /* padding-left: 5%; */
    /* text-align: center; */
    align-items: center;
   
    /* margin-left: 40px; */
    /* margin-right: 40px; */
}
.nam{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 90px;
    
}
.cover10{
    padding: 10px;
    border-radius: 20px;
    border: none;
}
.cover11{
    padding: 10px;
    border-radius: 20px;
    width: 200px;
    background-color: bisque;
    border: none;
    cursor: pointer;
}
.cover11:hover{
    background-color: rgb(150, 150, 208);
}
.bx img{
    width: 100%;
    height: 100%;
    /* margin-right: 0; */
    float: right;
}
.bc{
    /* margin-left: 100px; */
    width: 100%;
    height: 400px;
    
    /* background: yellow; */
    /* margin: 20px; */
    /* box-sizing: border-box; */
    font-size: 15px;
   
    
}
.ae{
    text-align: center;
    margin-left: 5px;
    /* color: rgb(198, 138, 59); */
}
.bx{
    /* margin-right: 100px; */
    width: 100%;
    height: 500px;
    /* background: rgb(53, 53, 29); */
    /* margin: 20px; */
    /* box-sizing: border-box; */
    font-size: 15px;
    
}



/* footer */
.footer{
    width: 100%;
    height: auto;
    /* background: rgb(102, 0, 255); */
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    margin-top: 40px;
    
}
.foot{
    width: 15%;
    height: 100px;
    /* background: yellow; */
    margin: 0px;
    /* box-sizing: border-box; */
    font-size: 15px;
    
}
.foot img{
    width: 50px;
    height: 20px;
}

@media screen and (max-width: 300px){
    header{
        width: 100%;
    }
    .toggle{
        font-size: 20px;
    }
    nav{
        /* justify-content: space-around; */
        margin: 0;
    }
    .card{
        flex-direction: row-reverse;
        height: 1000px;
        margin-bottom: 40px;
        width: 105%;
        
    }
    .order1{
        width: 100%;
        /* background-color: aliceblue; */
        height: 600px;
    }
    .order2{
        width: 100%;
        /* background-color: antiquewhite; */
        height: 250px;
        margin: 0;
    }
    .zz{
        margin: 0;
        width: 100%;
        margin-bottom: 20px;
    }
    .ord{
        margin: 0;
        width: 100%;
        margin-bottom: 20px;
    }
    .phone_3{
        margin: 0;
        width: 100%;
        margin-bottom: 20px;
    }
    .bo{
        width: 100%;
        margin: 0;
    }
    .contai{
        /* display: flex; */
        margin: 0;
        flex-direction: row;
        justify-content: space-around;
        flex-flow: wrap;
    }
    .box{
        width: 100%;
        margin: 0;
        height: 300px;
        padding-bottom: 50px;
    }
    .images{
        flex-direction: column;
        width: 100%;
        margin: 0;
    }
    .img{
        width: 100%;
    }
    .bc{
        width: 100%;
        /* margin: 0; */
        /* margin-left:  15px; */
        /* margin-right: 5px; */
        height: 550px;
    }
    
    .bx{
        width: 100%;
        /* border-radius: 10px; */
        margin: 0;
    }
    .contai{
        /* flex-direction: column-reverse; */
        margin-top: 20px;
        height: 900px;
        width: 100%;
        /* padding: 20px; */
        /* margin-bottom: 30px; */
        /* background-color: aliceblue; */
    }
    .nam{
        margin-top: 0%;
        /* margin-bottom: 50%; */
        /* height: 500px; */
        
    }
    .div{
        width: 105%;
       
        flex-direction: row;
        
        flex-flow: wrap;
    }
    .e{
       
        /* background: rgb(102, 0, 255); */
        
        
        flex-direction: column;
        margin-top: 150px;
       
        flex-flow: wrap;
    }
    .CA img{
        width: 0px;
    }
    .de{
        width: 105%;
    }
    .footer{
        /* flex-direction: row; */
        width: 100%;
        margin-top: 100px;
        height: 100%;
    }
    .foot{
        width: 40%;
        height: 100%;
        margin: 0%;
        /* height: 200px; */
    }
}

@media screen and (max-width: 1000px){
    .card{
        flex-direction: row-reverse;
    }
    .order1{
        width: 100%;
        
    }
    .order2{
        width: 100%;
    }
}






.div{
    width: 100%;
    height: auto;
    background: azure;
    
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
    /* flex-flow: wrap; */
}
.e{
    width: 100%;
    height: auto;
    /* background: rgb(102, 0, 255); */
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.See{
    text-align: center;
    color: red;
    font-size: 20px;
}
.de{
    width: 40%;
    height: 400px;
    /* background: yellow; */
    margin: 0px;
    /* box-sizing: border-box; */
    font-size: 15px;
}
.est{
    border-radius: 50%;
    width: 100px;
    height: 50px;
}
.CA img{
    width: 180px;
    height: 100px;
}